/*Sidebar*/
.sidebar {
 width: 60px;
 background: #0193de;
 position: fixed;
 height: 100vh;
 z-index: 10002;
 top: 0;
}
.sidebar .sidebar-head {  
 width: 60px;
 height: 60px; 
 z-index: 10;
 background: #4ec5ff;
 border-bottom: 1px solid #0193de;
}
.sidebar .sidebar-head h3 {
 color: #ffffff;
 font-size: 20px;
 line-height: 60px;
 text-align: center;
 margin: 0;
 cursor: default;
}
.sidebar .sidebar-head h3 span{ 
 display: none;
}
.sideMenu {    
    overflow-x: auto;
    height: 100vh;
    margin: 0;
    border-bottom: 3px solid #4ec5ff;
}
.sideMenu li{
 width: 100%;
}
.sideMenu li a {
 padding: 10px 18px;
 display: block; 
 line-height: 18px;
 color: #fff;
 width: 100%; 
 text-align: center;  
}
.sideMenu > li > a {
    background: #0193de;
}
.sideMenu li a::before{
    content: " ";
    border: 2px solid #0193de;
    left: -18px;
    position: relative;
    height: 36px;
    background-color: #0193de;
    margin-top: -9px;
    display: block;
    float: left;
}
  .sideMenu li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #0183c5
  }
    .sideMenu li a:hover::before {
      border: 2px solid #0183c5;
    }
.sideMenu li a.active {
 color: #fff;
 background-color: #4ec5ff;
}
  .sideMenu li a.active::before {
    border: 2px solid #4ec5ff;
  }
.sideMenu li a span{ display: none}
.sideMenu li a span span {
 margin: 5px 0px 0 8px;
 width: 14px;
 text-align: center;
}
.sideMenu li a b { 
 font-size: 14px
}
  .sideMenu .label {
    font-size: 11px;
    border-radius: 60px !important;
    padding: 4px 8px;
    min-width: 30px;
    height: 16px;
    line-height: 7px;
    text-align: center;
    margin-top: 2px !important;
    background-color: #4ec5ff;
    color: white;
  }
  .sideMenu > li a.expand {
    background: #4ec5ff;
  }
  .sideMenu li a.expand::before {
    border: 2px solid #00129a
  }
  .sideMenu li a.expand .label {
    background-color: #00129a;
  }
.sideMenu li a.expand span span.fa-chevron-right:before{
    content: "\f078";
    color: #fff;
}
  .sideMenu li a.selected::before {
    border: 2px solid #00129a;
  }
  .sideMenu > li a.expand + .subMenu,
  .sideMenu > li a.expand + .addMenu {
    background: #0193de;
    height: auto;
    overflow: hidden;
    transition: height 1s;
  }
.sideMenu li a+.subMenu, 
.sideMenu li a+.addMenu{ 
    height: 0;
    overflow: hidden;    
}

/*Submenu*/
  .sideMenu li li a::before {
    left: -31px;
  }
  .sideMenu li li a:hover::before {
    border: 2px solid #0183c5;
  }
  .sideMenu li li a.active::before {
    border: 2px solid #4ec5ff;
  }
  .sideMenu li li a.expand:hover::before {
    border: 2px solid #0183c5;
  }

/*Sidebar Expanded*/
.sidebar.expanded {
 width: 240px;
}
.sidebar.expanded .sidebar-head{
 width: 240px;
}
.sidebar.expanded .sidebar-head h3{
 text-align: right;
 padding:0 16px; 
}
.sidebar.expanded .sidebar-head h3 span{ 
    display: inherit;
    float: left;
    margin-left: 10px;
    font-size: 18px;
}
.sidebar.expanded .sideMenu li a{ 
 text-align: left
}
.sidebar.expanded .sideMenu li a i, 
.sidebar.expanded .sideMenu li a b {  
 width: 24px;
 text-align: center;
 display: inline-block;
}
.sidebar.expanded .sideMenu li a span{ 
    display: inline
}
.sidebar.expanded .subMenu li a{ 
    padding: 10px 18px 10px 36px
} 
.sidebar.expanded .addMenu li a{ 
    padding: 10px 18px 10px 54px
} 

