<section id="wrapper" class="login-register">
    <spinner *ngIf="spinner" [size]="50" [overlay]="true"></spinner>
    <div class="login-box login-sidebar">
        <div class="white-box m-t-40">
            <form class="form-horizontal form-material  m-t-20" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <a href="javascript:void(0)" class="text-center db">
                    <img class="logo-icon" src="assets/images/logo-a.png" alt="Home">
                    <br>
                    <img class="logo-text m-t-20" src="assets/images/logo-angular.png" alt="Home">
                </a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="username" type="text" placeholder="Username"
                            [ngClass]="{ 'invalid': Form.username.touched && Form.username.errors }">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="password" type="password" placeholder="Password"
                            [ngClass]="{ 'invalid': Form.password.touched && Form.password.errors }">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> Remember me </label>
                        </div>
                        <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i>
                            Forgot pwd?
                        </a>
                    </div>
                </div>
                <div class="form-group text-center">
                    <div class="col-xs-12">
                        <button class="btn btn-default btn-lg btn-block text-uppercase" [ngClass]="{'disabled': !loginForm.valid}"
                            type="submit" [disabled]="!loginForm.valid">
                            Log In
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>