#wrapper {
    width: 100%
}

.logo-icon {
    width: 50px;
}

.logo-text {
    width: 150px;
}

.login-register {
    background: url(../../assets/images/login-bg.jpg) no-repeat center left / cover!important;
    height: 100%;
    position: fixed
}

.login-box {
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    background: #fff;
}

.login-sidebar {
    position: absolute;
    right: 0px;
    margin-top: 0px;
    height: 100%
}

.login-sidebar .white-box {
    background-color: transparent
}

@media (max-width:480px) {
    .login-box {
        width: 100%
    }
}