<div class="page-wrapper">
        <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="theme-box">
                                <h3 class="box-title">NEW CLIENTS</h3>
                                <ul class="list-inline two-part">
                                        <li><i class="fa fa-group"></i></li>
                                        <li class="text-right"><span class="counter">23</span></li>
                                </ul>
                        </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="highlight-box">
                                <h3 class="box-title">NEW Projects</h3>
                                <ul class="list-inline two-part">
                                        <li><i class="fa fa-laptop"></i></li>
                                        <li class="text-right"><span class="counter">169</span></li>
                                </ul>
                        </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="theme-box">
                                <h3 class="box-title">Open Projects</h3>
                                <ul class="list-inline two-part">
                                        <li><i class="fa fa-desktop"></i></li>
                                        <li class="text-right"><span class="">311</span></li>
                                </ul>
                        </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="highlight-box">
                                <h3 class="box-title">NEW Invoices</h3>
                                <ul class="list-inline two-part">
                                        <li>
                                                <i class="fa fa-newspaper-o"></i>
                                        </li>
                                        <li class="text-right"><span class="">117</span></li>
                                </ul>
                        </div>
                </div>
        </div>
        <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                        <chart [options]="options"></chart>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                        <chart [options]="options"></chart>
                </div>                
        </div>
</div>