/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    outline: none!important;
    list-style-type: none;
    border-radius: 0px !important;
}

dl, ol, ul {
    margin: 0 !important;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #019eee;
    margin: 10px 0;
    font-weight: 300
}

h1 {
    line-height: 48px;
    font-size: 36px
}

h2 {
    line-height: 36px;
    font-size: 24px
}

h3 {
    line-height: 30px;
    font-size: 21px
}

h4 {
    line-height: 22px;
    font-size: 18px
}

h5 {
    font-size: 18px;
    font-size: 16px
}

h5 {
    font-size: 16px;
    font-size: 14px
}

.dn {
    display: none
}

.db {
    display: block
}

p {
    line-height: 1.6
}

b {
    font-weight: 500
}

a:hover {
    outline: 0;
    text-decoration: none
}

a:active {
    outline: 0;
    text-decoration: none
}

a:focus {
    outline: 0;
    text-decoration: none
}

hr {
    border-color: rgba(120, 130, 140, 0.13)
}

.b-t {
    border-top: 1px solid rgba(120, 130, 140, 0.13)
}

.b-b {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13)
}

.b-l {
    border-left: 1px solid rgba(120, 130, 140, 0.13)
}

.b-r {
    border-right: 1px solid rgba(120, 130, 140, 0.13)
}

.b-all {
    border: 1px solid rgba(120, 130, 140, 0.13)
}

.b-none {
    border: 0px!important
}

.p-0 {
    padding: 0px !important
}

.p-10 {
    padding: 10px!important
}

.p-20 {
    padding: 20px!important
}

.p-30 {
    padding: 30px!important
}

.p-l-0 {
    padding-left: 0px!important
}

.p-l-10 {
    padding-left: 10px!important
}

.p-l-20 {
    padding-left: 20px!important
}

.p-l-30 {
    padding-left: 30px!important
}

.p-r-0 {
    padding-right: 0px!important
}

.p-r-10 {
    padding-right: 10px!important
}

.p-r-20 {
    padding-right: 20px!important
}

.p-r-30 {
    padding-right: 30px!important
}

.p-r-40 {
    padding-right: 40px!important
}

.p-t-0 {
    padding-top: 0px!important
}

.p-t-10 {
    padding-top: 10px!important
}

.p-t-20 {
    padding-top: 20px!important
}

.p-t-30 {
    padding-top: 30px!important
}

.p-b-0 {
    padding-bottom: 0px!important
}

.p-b-10 {
    padding-bottom: 10px!important
}

.p-b-20 {
    padding-bottom: 20px!important
}

.p-b-30 {
    padding-bottom: 30px!important
}

.p-b-40 {
    padding-bottom: 40px!important
}

.m-0 {
    margin: 0px!important
}

.m-l-5 {
    margin-left: 5px!important
}

.m-l-10 {
    margin-left: 10px!important
}

.m-l-15 {
    margin-left: 15px!important
}

.m-l-20 {
    margin-left: 20px!important
}

.m-l-30 {
    margin-left: 30px!important
}

.m-l-40 {
    margin-left: 40px!important
}

.m-r-5 {
    margin-right: 5px!important
}

.m-r-10 {
    margin-right: 10px!important
}

.m-r-15 {
    margin-right: 15px!important
}

.m-r-20 {
    margin-right: 20px!important
}

.m-r-30 {
    margin-right: 30px!important
}

.m-r-40 {
    margin-right: 40px!important
}

.m-t-5 {
    margin-top: 5px!important
}

.m-t-0 {
    margin-top: 0px!important
}

.m-t-10 {
    margin-top: 10px!important
}

.m-t-15 {
    margin-top: 15px!important
}

.m-t-20 {
    margin-top: 20px!important
}

.m-t-30 {
    margin-top: 30px!important
}

.m-t-40 {
    margin-top: 40px!important
}

.m-b-0 {
    margin-bottom: 0px!important
}

.m-b-5 {
    margin-bottom: 5px!important
}

.m-b-10 {
    margin-bottom: 10px!important
}

.m-b-15 {
    margin-bottom: 15px!important
}

.m-b-20 {
    margin-bottom: 20px!important
}

.m-b-30 {
    margin-bottom: 30px!important
}

.m-b-40 {
    margin-bottom: 40px!important
}

/***********************FORMS**************************/

.form-control-line {
    border-left: 0 none;
    border-radius: 0;
    border-right: 0 none;
    border-top: 0 none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 0
}

.form-horizontal .form-group {
    margin-bottom: 25px
}

.form-horizontal.form-material label {
    height: 2rem;
    line-height: 2.3rem;
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 25px
}

.form-material .form-group {
    overflow: hidden
}

.form-material .form-control {
    background-color: rgba(0, 0, 0, 0);
    background-position: center bottom, center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    padding: 0;
    -webkit-transition: background 0s ease-out 0s;
    -o-transition: background 0s ease-out 0s;
    transition: background 0s ease-out 0s;
    font-size: 0.9rem;
}

.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#019eee), to(#019eee)), -webkit-gradient(linear, left top, left bottom, from(rgba(120, 130, 140, 0.13)), to(rgba(120, 130, 140, 0.13)));
    background-image: -webkit-linear-gradient(#019eee, #019eee), -webkit-linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13));
    background-image: -o-linear-gradient(#019eee, #019eee), -o-linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13));
    background-image: linear-gradient(#019eee, #019eee), linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13));
    border: 0 none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: none
}

.form-material .form-control.focus, .form-material .form-control:focus {
    background-size: 100% 2px, 100% 1px;
    outline: 0 none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s
}

/**************************CHECKBOX & RADIO BUTTON***********************************/

.checkbox {
    padding-left: 20px
}

.checkbox label {
    cursor: pointer;
    display: inline-block;
    padding-left: 5px;
    position: relative
}

.checkbox label:before {
    cursor: pointer;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    background-color: #ffffff;
    border-radius: 1px;
    border: 1px solid rgba(120, 130, 140, 0.13);
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 17px;
    outline: none!important
}

.checkbox label:after {
    display: inline-block;
    font-size: 11px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 16px
}

.checkbox input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none!important
}

.checkbox input[type=checkbox]:disabled+label {
    opacity: 0.65
}

.checkbox input[type=checkbox]:focus+label:before {
    outline-offset: -2px;
    outline: none;
    outline: thin dotted
}

.checkbox input[type=checkbox]:checked+label:after {
    content: "\f00c";
    font-family: 'FontAwesome';
    font-weight: 900
}

.checkbox input[type=checkbox]:disabled+label:before {
    background-color: #e4e7ea;
    cursor: not-allowed
}

.checkbox.checkbox-circle label:before {
    border-radius: 50%
}

.checkbox.checkbox-inline {
    margin-top: 0
}

.checkbox.checkbox-single label {
    height: 17px
}

.checkbox-primary input[type=checkbox]:checked+label:before {
    background-color: #019eee;
    border-color: #019eee
}

.checkbox-primary input[type=checkbox]:checked+label:after {
    color: #ffffff
}

.radio {
    padding-left: 20px
}

.radio label {
    display: inline-block;
    padding-left: 5px;
    position: relative
}

.radio label:before {
    -o-transition: border 0.5s ease-in-out;
    -webkit-transition: border 0.5s ease-in-out;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(120, 130, 140, 0.13);
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: border 0.5s ease-in-out;
    width: 17px;
    outline: none!important
}

.radio label:after {
    -moz-transition: -moz-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -o-transition: -o-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -webkit-transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 7px;
    left: 5px;
    margin-left: -20px;
    position: absolute;
    top: 5px;
    transform: scale(0, 0);
    transition: -webkit-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    width: 7px
}

.radio input[type=radio] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none!important
}

.radio input[type=radio]:disabled+label {
    opacity: 0.65
}

.radio input[type=radio]:focus+label:before {
    outline-offset: -2px;
    outline: 5px auto -webkit-focus-ring-color;
    outline: thin dotted
}

.radio input[type=radio]:checked+label:after {
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

.radio input[type=radio]:disabled+label:before {
    cursor: not-allowed
}

.radio.radio-inline {
    margin-top: 0
}

.radio.radio-single label {
    height: 17px
}

.radio-primary input[type=radio]+label:after {
    background-color: #019eee
}

/*********************BUTTON*************************/

.btn-default {
    background: #019eee;
    border: 1px solid #019eee;
    color: #fff;
}

.btn-default.focus, .btn-default:focus, .btn-default:hover {
    opacity: 0.8;
    border: 1px solid #009ae8;
    background: #009ae8;
}

.btn-default.disabled {
    opacity: 0.5;
    background: #019eee;
    border: 1px solid #019eee;
    color: #fff;
}

.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover {
    opacity: 0.5;
    border: 1px solid #019eee;
    background: #019eee
}

.btn-outline, .btn-outline.disabled {
    background: #fff;
    border: 1px solid #019eee;
    color: #333;
}

.btn-outline.disabled.focus, .btn-outline.disabled:focus, .btn-outline.disabled:hover, .btn-outline.focus, .btn-outline:focus, .btn-outline:hover {
    opacity: 1;
    border: 1px solid #019eee;
    background: #fff;
    color: #019eee;
    box-shadow: 0 0 0 0 !important;
}

.btn-primary, .btn-primary.disabled {
    background: #fdb414;
    border: 1px solid #fdb414;
    color: #fff;
}

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    opacity: 0.8;
    color: #fff;
    border: 1px solid #fdb414;
    background: #fdb414;
    box-shadow: 0 0 0 0 !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #fdb414;
    border-color: #fdb414;
    box-shadow: 0 0 0 0 !important;
}

/**************************PANEL**********************************/

.white-box {
    background: #ffffff;
    padding: 25px;
    margin-bottom: 30px;
}

.white-box .box-title {
    margin: 0px 0px 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px
}

.theme-box {
    background: #019eee;
    color: #fff;
    padding: 25px;
    margin-bottom: 30px;
}

.theme-box .box-title {
    margin: 0px 0px 12px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px
}

.highlight-box {
    background: #fdb414;
    color: #fff;
    padding: 25px;
    margin-bottom: 30px;
}

.highlight-box .box-title {
    margin: 0px 0px 12px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.two-part li {
    width: 48.8%
}

.two-part li i {
    font-size: 50px
}

.two-part li span {
    font-size: 50px;
    font-weight: 100;
    font-family: 'Rubik', sans-serif
}

.panel {
    border-radius: 0px;
    margin-bottom: 30px;
    border: 0px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1)
}

.panel .panel-heading {
    border-radius: 0px;
    font-weight: 500;
    font-size: 16px;
    padding: 20px 25px
}

.panel .panel-heading .panel-title {
    font-size: 16px;
    color: #313131
}

.panel .panel-heading a i {
    font-size: 12px;
    margin-left: 8px
}

.panel .panel-action {
    float: right
}

.panel .panel-action a {
    opacity: 0.5
}

.panel .panel-action a:hover {
    opacity: 1
}

.panel .panel-body {
    padding: 25px
}

.panel .panel-body:first-child h3 {
    margin-top: 0px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    text-transform: uppercase
}

.panel .panel-footer {
    background: #ffffff;
    border-radius: 0px;
    padding: 20px 25px
}

.panel-green, .panel-success {
    border-color: #4caf50
}

.panel-green .panel-heading, .panel-success .panel-heading {
    border-color: #4caf50;
    color: white;
    background-color: #4caf50
}

.panel-green .panel-heading a, .panel-success .panel-heading a {
    color: #ffffff
}

.panel-green .panel-heading a:hover, .panel-success .panel-heading a:hover {
    color: rgba(255, 255, 255, 0.5)
}

.panel-green a, .panel-success a {
    color: #4caf50
}

.panel-green a:hover, .panel-success a:hover {
    color: #357a38
}

.panel-black, .panel-inverse {
    border-color: #4c5667
}

.panel-black .panel-heading, .panel-inverse .panel-heading {
    border-color: #4c5667;
    color: white;
    background-color: #4c5667
}

.panel-black .panel-heading a, .panel-inverse .panel-heading a {
    color: #ffffff
}

.panel-black .panel-heading a:hover, .panel-inverse .panel-heading a:hover {
    color: rgba(255, 255, 255, 0.5)
}

.panel-black a, .panel-inverse a {
    color: #4c5667
}

.panel-black a:hover, .panel-inverse a:hover {
    color: #2c313b
}

.panel-darkblue, .panel-primary {
    border-color: #707cd2
}

.panel-darkblue .panel-heading, .panel-primary .panel-heading {
    border-color: #707cd2;
    color: white;
    background-color: #707cd2
}

.panel-darkblue .panel-heading a, .panel-primary .panel-heading a {
    color: #ffffff
}

.panel-darkblue .panel-heading a:hover, .panel-primary .panel-heading a:hover {
    color: rgba(255, 255, 255, 0.5)
}

.panel-darkblue a, .panel-primary a {
    color: #707cd2
}

.panel-darkblue a:hover, .panel-primary a:hover {
    color: #3b4abb
}

.panel-blue, .panel-info {
    border-color: #1e88e5
}

.panel-blue .panel-heading, .panel-info .panel-heading {
    border-color: #1e88e5;
    color: white;
    background-color: #1e88e5
}

.panel-blue .panel-heading a, .panel-info .panel-heading a {
    color: #ffffff
}

.panel-blue .panel-heading a:hover, .panel-info .panel-heading a:hover {
    color: rgba(255, 255, 255, 0.5)
}

.panel-blue a, .panel-info a {
    color: #1e88e5
}

.panel-blue a:hover, .panel-info a:hover {
    color: #1360a4
}

.panel-danger, .panel-red {
    border-color: #f44336
}

.panel-danger .panel-heading, .panel-red .panel-heading {
    border-color: #f44336;
    color: white;
    background-color: #f44336
}

.panel-danger .panel-heading a, .panel-red .panel-heading a {
    color: #ffffff
}

.panel-danger .panel-heading a:hover, .panel-red .panel-heading a:hover {
    color: rgba(255, 255, 255, 0.5)
}

.panel-danger a, .panel-red a {
    color: #f44336
}

.panel-danger a:hover, .panel-red a:hover {
    color: #d2190b
}

.panel-warning, .panel-yellow {
    border-color: #ff9800
}

.panel-warning .panel-heading, .panel-yellow .panel-heading {
    border-color: #ff9800;
    color: white;
    background-color: #ff9800
}

.panel-warning .panel-heading a, .panel-yellow .panel-heading a {
    color: #ffffff
}

.panel-warning .panel-heading a:hover, .panel-yellow .panel-heading a:hover {
    color: rgba(255, 255, 255, 0.5)
}

.panel-warning a, .panel-yellow a {
    color: #ff9800
}

.panel-warning a:hover, .panel-yellow a:hover {
    color: #b36a00
}

.panel-theme, .panel-themecolor {
    border-color: #019eee
}

.panel-theme .panel-heading, .panel-themecolor .panel-heading {
    border-color: #019eee;
    color: white;
    background-color: #019eee
}

.panel-theme .panel-heading a, .panel-themecolor .panel-heading a {
    color: #ffffff
}

.panel-theme .panel-heading a:hover, .panel-themecolor .panel-heading a:hover {
    color: rgba(255, 255, 255, 0.5)
}

.panel-theme a, .panel-themecolor a {
    color: #019eee
}

.panel-theme a:hover, .panel-themecolor a:hover {
    color: #177eac
}

.panel-default, .panel-white {
    border-color: rgba(120, 130, 140, 0.13)
}

.panel-default .panel-heading, .panel-white .panel-heading {
    color: #313131;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(120, 130, 140, 0.13)
}

.panel-default .panel-body, .panel-white .panel-body {
    color: #313131
}

.panel-default .panel-action a, .panel-white .panel-action a {
    color: #313131;
    opacity: 0.5
}

.panel-default .panel-action a:hover, .panel-white .panel-action a:hover {
    opacity: 1;
    color: #313131
}

.panel-default .panel-footer, .panel-white .panel-footer {
    background: #ffffff;
    color: #313131;
    border-top: 1px solid rgba(120, 130, 140, 0.13)
}

/****************************HighCharts*********************************/

.highcharts-menu-item:hover {
    background-color: #019eee !important;
}

/********************PRIME NG GRID************************/

body .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
    background-color: #b8e7ff;
    color: #333;
    border: 0px none;
    padding: 0.3em;
    height: 36px;
    line-height: 25px;
    border-bottom: 1px solid #fff;
}

body .ui-table .ui-table-summary {
    border-top: 1px solid #fff;
}

.ui-table-caption .btn {
    margin-left: 0.3em
}

body .ui-table .ui-sortable-column .ui-sortable-column-icon {
    color: #019eee;
}

body .ui-table .ui-sortable-column.ui-state-highlight {
    background-color: #019eee;
    color: #ffffff;
}

body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
    background-color: #019eee;
    color: #ffffff;
}

body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover .ui-sortable-column-icon {
    color: #ffffff;
}

body .ui-table .ui-table-thead>tr>th {
    padding: 0.5em 0.8em;
    border: 0px none;
    color: #019eee;
    border: 1px solid #eee;
    background-color: #fff;
}

body .ui-table .ui-table-tbody>tr:nth-child(even) {
    background-color: #f5f5f5;
}

body .ui-table .ui-table-tbody>tr.ui-state-highlight {
    background-color: #fff;
    color: #333;
}

body .ui-table .ui-table-tbody>tr:nth-child(even).ui-state-highlight {
    background-color: #f5f5f5;
    color: #333;
}

body .ui-table.ui-table-hoverable-rows .ui-table-tbody>tr.ui-selectable-row:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover {
    background-color: transparent;
    cursor: default;
}

body .ui-table.ui-table-hoverable-rows .ui-table-tbody>tr.ui-selectable-row:nth-child(even):not(.ui-state-highlight):not(.ui-contextmenu-selected):hover {
    background-color: #f5f5f5;
    cursor: default;
}

body .ui-table .ui-table-tbody>tr>td {
    border: 1px solid #eee;
    padding: 0.3em;
}

body .ui-paginator {
    border-top: 0px none;
    padding: 0;
    border: 1px solid #eee;
    background: #fff;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page {
    color: #333;
}

body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last {
    color: #019eee;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page:not(.ui-state-active):hover {
    background-color: #019eee;
    color: #ffffff;
    opacity: 0.8;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #019eee;
    color: #ffffff;
}

body .ui-paginator .ui-paginator-first:not(.ui-state-disabled):not(.ui-state-active):hover, body .ui-paginator .ui-paginator-prev:not(.ui-state-disabled):not(.ui-state-active):hover, body .ui-paginator .ui-paginator-next:not(.ui-state-disabled):not(.ui-state-active):hover, body .ui-paginator .ui-paginator-last:not(.ui-state-disabled):not(.ui-state-active):hover {
    opacity: 0.8;
    color: #fff;
    background-color: #019eee;
}

/******************************** Prime NG Tooltip***************************************/

i.action {
    cursor: pointer;
    font-size: 1.4em;
}

.ui-tooltip .ui-tooltip-text {
    color: #fdb414 !important;
}

/******************************** Prime NG Toast***************************************/

.ui-toast.ui-widget.ui-toast-top-center {
    margin-top: 41px !important;
}

/******************************** Prime NG Grid System***************************************/

.ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12 {
    padding: 0.3em
}

/**********************************UI DIALOG & OVERLAY***********************************/

.ui-widget-overlay {
    z-index: 10003 !important;
}

body .ui-dialog {
    z-index: 10004 !important;
    left: 50% !important;
    top: 40px !important;
}

body .ui-dialog-sm>.ui-dialog {
    width: 600px;
    margin-left: -300px !important;
}

body .ui-dialog-md>.ui-dialog {
    width: 800px;
    margin-left: -400px !important;
}

body .ui-dialog-lg>.ui-dialog {
    width: 1000px;
    margin-left: -500px !important;
}

body .ui-dialog .ui-dialog-titlebar {
    border: 0px none;
    background-color: #019eee;
    color: #ffffff;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
    color: #ffffff;
}

body .ui-dialog .ui-dialog-content {
    border: 0px none;
}

body .ui-dialog .ui-dialog-footer {
    border: 0px none;
    border-top: 1px solid #fdb414;
}


/**********************FILE UPLOAD*******************************/

body .ui-button {
  margin: 0;
  color: #ffffff;
  background-color: #276d90;
  border: 1px solid #276d90;
  font-size: 14px;
  -moz-transition: background-color 0.2s, box-shadow 0.2s;
  -o-transition: background-color 0.2s, box-shadow 0.2s;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
}

body .ui-fileupload .ui-fileupload-buttonbar {
  background-color: #ffffff;
  padding: 0.571em 1em;
  border: 1px solid #ffffff;
  color: #333333;
  border-bottom: 0 none;
}

body .ui-fileupload .ui-fileupload-content {
  background-color: #ffffff;
  padding: 0.571em 1em;
  border: 1px solid #ffffff;
  color: #333333;
}
/************************TREE MODULE****************************/
body .ui-tree {
  border: 0px solid #ffffff;
  background-color: #ffffff;
  color: #333333;
}
/************************CALENDAR*******************************/
body .ui-inputtext {
  font-size: 14px;
  width: 165px;
  color: #333333;
  background: #ffffff;
  padding: 5px 5px 5px 5px;
  border: 1px solid #276d90;
  transition: border-color 0.2s;
}

body .ui-datepicker table td > a.ui-state-active {
  color: #ffffff;
  background-color: #276d90;
}

body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-prev:hover, body .ui-datepicker:not(.ui-state-disabled) .ui-datepicker-header .ui-datepicker-next:hover {
  color: #276d90;
}

body .ui-datepicker .ui-monthpicker .ui-monthpicker-month.ui-state-active {
  color: #ffffff;
  background-color: #276d90;
}

body .ui-datepicker:not(.ui-datepicker-inline) {
  border: 2px solid #276d90;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

body .ui-inputtext:enabled:hover:not(.ui-state-error) {
  border-color: #276d90;
}

body .ui-inputtext:enabled:focus:not(.ui-state-error) {
  border-color: #276d90;
  outline: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

body .ui-button:enabled:hover {
  background-color: #276d90;
  color: #ffffff;
  border-color: #276d90;
}

/************************HEADER USER PROFILE DROPDOWN ******************************/
body a {
  color: #276d90;
  text-decoration: none;
}

  body a:hover {
    color: #276d90;
  }

/************************APP******************************/

.page-wrapper {
    padding: 60px 15px 15px 75px
}

input.invalid::placeholder {
    color: red
}