<div class="page-wrapper">
  <spinner *ngIf="spinner" [size]="50" [overlay]="true"></spinner>
  <h3 class="first">State Details</h3>
  <p-table [columns]="cols" [value]="states" selectionMode="single" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      State / Location
      <button type="button" class="btn btn-default btn-sm pull-right" (click)="showDialogToaddOrEdit('Add')">
        <i class="fa fa-plus"></i>
        Add
      </button>

    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 50px">S.No</th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th style="width: 100px" class="text-center">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
      <tr [pSelectableRow]="rowData" *ngIf="rowData.IsActive">
        <td style="width: 50px">
          {{i+1}}
        </td>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td style="width: 100px" class="text-center">
          <i (click)="showDialogToaddOrEdit(rowData)" class="action pi pi-pencil" pTooltip="Edit" tooltipPosition="top"></i>
          <i (click)="showDialogToDeactivate()" class="action pi pi-times" pTooltip="Deactivate" tooltipPosition="top"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div>
        No. of records: {{states?.length}}
      </div>
    </ng-template>
  </p-table>

  <p-dialog header="{{addOrEditDialogTitle}} State/Location" [(visible)]="addOrEditDialog" [responsive]="true"
    showEffect="fade" [modal]="true" class="ui-dialog ui-dialog-sm">
    <form class="form-horizontal form-material" [formGroup]="stateForm" (ngSubmit)="onSubmit()">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="divisionname">Short Name</label>
        </div>
        <div class="ui-g-8">
          <input class="form-control" formControlName="shortname" type="text" placeholder="Short Name" [ngClass]="{ 'invalid': Form.shortname.touched && Form.shortname.errors }">
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="divisionname">State Name</label>
        </div>
        <div class="ui-g-8">
          <input class="form-control" formControlName="statename" type="statename" placeholder="State Name" [ngClass]="{ 'invalid': Form.statename.touched && Form.statename.errors }">
        </div>
      </div>
    </form>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" (click)="cancel()" class="btn btn-outline">
          <i class="fa fa-close"></i>
          Cancel
        </button>
        <button type="button" (click)="save(addOrEditDialogTitle)" class="btn btn-default" [ngClass]="{'disabled': !stateForm.valid}"
          type="submit" [disabled]="!stateForm.valid">
          <i class="fa fa-check"></i>
          Save
        </button>
      </div>
    </p-footer>
  </p-dialog>

  <p-dialog header="State Deactivation" [(visible)]="deactivationDialog" [responsive]="true" showEffect="fade" [modal]="true"
    class="ui-dialog ui-dialog-sm">
    <div class="ui-g ui-fluid form-horizontal form-material">
      Are you sure to deactivate?
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" (click)="cancel()" class="btn btn-outline">
          <i class="fa fa-close"></i>
          Cancel
        </button>
        <button type="button" (click)="deactivate()" class="btn btn-default">
          <i class="fa fa-check"></i>
          Deactivate
        </button>
      </div>
    </p-footer>
  </p-dialog>

</div>